*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #d8d8d8;
}

h1 {
    background-color: #fbfd80;
    text-align: center;
}

p {
    text-align: justify;
}